<!doctype html>
<html ng-app="shgaApp">
<head>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="css/shga.css">
<style type="text/css">
body {
    padding: 10px 10px 70px 10px;
}
</style>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
<script type='text/javascript' src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>
<script type='text/javascript' src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
<script type='text/javascript' src="vendor/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script type='text/javascript' src="vendor/momentjs/moment.js"></script>
<script type='text/javascript' src="js/common/factory/factory.registration.js"></script>
<script type='text/javascript' src="js/common/factory/factory.profile.js"></script>
<script type='text/javascript' src="js/common/factory/factory.golfer.js"></script>
<script type='text/javascript' src="js/common/factory/factory.event.js"></script>
<script type='text/javascript' src="js/common/factory/factory.js"></script>
<script type='text/javascript' src="js/event/controller.event.js"></script>
<script type='text/javascript' src="js/event/controller.manage.event.js"></script>
<script type='text/javascript' src="js/event/controller.manage.golfer.js"></script>
<script type='text/javascript' src="js/golfer/controller.profile.js"></script>
<script type='text/javascript' src="js/user/controller.registration.js"></script>
<script type='text/javascript' src="js/common/controller/controller.js"></script>
<script type='text/javascript' src="js/common/filter/filter.js"></script>
<script type='text/javascript' src="js/shga.js"></script>
</head>
<body>
    <div ng-controller="EventController">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SHGA</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" class="nav-collapse" collapse="isCollapsed">
                    <div class="navbar-form navbar-right">
                        <form class="form-inline" ng-show="!isAuth" role="register" name="loginForm" ng-submit="login(loginForm.$valid)" novalidate ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty}">
                            <!-- EMAIL -->
                            <div class="form-group ">
                                <div class="error-container help-block hb-error-container">
                                    <small class="error hb-error" ng-show="loginForm.email.$invalid && loginForm.email.$error.required && loginForm.password.$dirty && loginForm.password.$invalid && loginForm.password.$error.required">Username/Password are required.</small>
                                    <small class="error hb-error" ng-show="loginError.state">{{loginError.msg}}</small>
                                    <small class="error hb-error" ng-show="loginForm.email.$dirty && loginForm.email.$invalid && loginForm.email.$error.email">Invalid email.</small>
                                </div>
                            </div>
                            <div class="form-group ">
                                <input placeholder="username" type="email" name="email" class="form-control" ng-model="sec.email" required />
                            </div>
                            <!-- PASSWORD -->
                            <div class="form-group">
                                <input placeholder="password" type="password" name="password" class="form-control" ng-model="sec.password" required>
                            </div>
                            <!-- SUBMIT BUTTON -->
                            <button type="submit" class="btn btn-primary">Log In</button>
                            <button type="button" class="btn btn-link" ng-click="register()">Register</button>
                        </form>
                        <form ng-show="isAuth" role="form" name="logoutForm" ng-submit="logout()" novalidate action="">
                            <div class="form-group" style="padding-right:20px;">Logged in as {{user.firstName}} {{user.lastName}}</div>
                            <button type="submit" class="btn btn-primary btn-xs">Logout</button>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="editProfile(user.uid)">Edit Profile</button>
                        </form>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <nav ng-show="isAuth && isUserInRole('SHGA_ADMIN')" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="container-fluid">
				<div class="navbar-form navbar-right" style="padding-right: 40px;">
					<button ng-show="isUserInRole('SHGA_ADMIN')" type="button" class="btn btn-default btn-xs navbar-btn" ng-click="createEvent()">Create Event</button>
				</div>
			</div>
		</nav>
        <div class="row" style="margin: 4px 2px 2px 2px;" ng-repeat="shgaEvent in shgaEvents | currentEvents">
            <div class="col-xs-12 col-sm-12 col-med-12 col-lg-12">
                <nav ng-class="{'hb-navbar-black navbar navbar-default' : shgaEvent.group.name == 'Sunday Group', 'hb-navbar-blue navbar navbar-default' : shgaEvent.group.name == 'Saturday Group'}">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="blue navbar-header">
                            <button ng-show="isAuth" type="button" class="blue navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <h4 ng-class="{'hb-navbar-black navbar-text navbar-left' : shgaEvent.group.name == 'Sunday Group', 'hb-navbar-blue navbar-text navbar-left' : shgaEvent.group.name == 'Saturday Group'}">
                            	{{shgaEvent.group.name}} - {{shgaEvent.course.name}}<br />{{formatDate(shgaEvent.timestamp)}}
                        	</h4>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" collapse="isCollapsed">
                            <div class="navbar-form navbar-right">
	                            <button ng-show="isAuth && isUserInRole('SHGA_ADMIN')" type="button" class="btn btn-default btn-sm" ng-click="deleteEvent(shgaEvent)">Delete Event</button>
	                            <button ng-show="isAuth && isUserInRole('SHGA_ADMIN')" type="button" class="btn btn-default btn-sm" ng-click="manageGolfers(shgaEvent)">Add Golfers</button>
	                            <button ng-show="isAuth && !isSignedUp(shgaEvent, user.uid)" type="button" class="btn btn-success btn-sm" ng-click="signUp(shgaEvent, user)">Sign Up!</button>
	                            <button ng-show="isAuth && isSignedUp(shgaEvent, user.uid)" type="button" class="btn btn-danger btn-sm" ng-click="dropOut(shgaEvent, user.uid)">Drop Out!</button>
                            </div>
                        </div>
                    </div>
                </nav>
                <table class="table table-bordered table-hover" style="width:60%;">
                	<colgroup>
                		<col />
                		<col width="0"/>
                		<col width="0"/>
                		<col width="0"/>
                	</colgroup>
                	<tr ng-repeat="golfer in shgaEvent.golfers | orderBy:['lastName','firstName']">
                		<td><h4 class="text-nowrap">{{golfer.firstName}} {{golfer.lastName}}</h4></td>
                		<td><h4><span style="width:55px;" ng-class="{'label label-sm pull-right hb-badge-black' : golfer.teebox.color == 'Black', 'label label-sm pull-right hb-badge-blue' : golfer.teebox.color == 'Blue'}">{{golfer.hcp}}</span></h4></td>
                		<td ng-show="isUserInRole('SHGA_ADMIN')"><h4><button type="button" class="btn btn-danger btn-xs" ng-click="dropOut(shgaEvent, golfer.uid)">Remove</button></h4></td>
                		<td ng-show="isUserInRole('SHGA_ADMIN')"><h4><button type="button" class="btn btn-primary btn-xs" ng-click="editProfile(golfer.uid)">Edit Profile</button></h4></td>
                	</tr>
                </table>
            </div>
        </div>
    </div>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="vendor/bootstrap/bootstrap.js"></script>
  </body>
</html>