<!doctype html>
<html ng-app="shgaApp">
<head>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<style type="text/css">
body {
	padding: 5px 20px;
}

.hb-control-label {
	white-space: nowrap;
	padding-right: 7px;
}
</style>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
<script type='text/javascript' src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>
<script type='text/javascript' src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
<script type='text/javascript' src="vendor/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script type='text/javascript' src="js/shga.js"></script>
</head>
<body>
	<div ng-controller="EventController">
		<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label hb-control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" placeholder="Email" ng-model="registrant.username" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-3 control-label hb-control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password1" placeholder="SHGA password" ng-model="registrant.password1" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-3 control-label hb-control-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password2" placeholder="Confirm password" ng-model="registrant.password2" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-3 control-label hb-control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="registrant.firstName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-3 control-label hb-control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="registrant.lastName" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
        </script>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hb-shga-header-collapse">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">SHGA</a>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="hb-shga-header-collapse">
				<form ng-show="!isAuth" class="navbar-form navbar-right" role="form" name="loginForm" ng-submit="login(loginForm.$valid)" novalidate action="">
					<!-- EMAIL -->
					<div class="form-group">
						<input placeholder="username" type="email" name="email" class="form-control" ng-model="sec.email" required>
					</div>
					<!-- PASSWORD -->
					<div class="form-group">
						<input placeholder="password" type="password" name="password" class="form-control" ng-model="sec.password" ng-minlength="3" ng-maxlength="8" required>
					</div>
					<!-- SUBMIT BUTTON -->
					<button type="submit" class="btn btn-primary">Log In</button>
					<button type="button" class="btn btn-link" ng-click="register()">Register</button>
				</form>
				<form ng-show="isAuth" class="navbar-form navbar-right" role="form" name="logoutForm" ng-submit="logout()" novalidate action="">
					<!-- EMAIL -->
					<div class="form-group">Logged in as {{user.firstName}} {{user.lastName}}</div>
					<!-- SUBMIT BUTTON -->
					<button type="submit" class="btn btn-primary">Logout</button>
				</form>
			</div>
		</nav>
		<div class="btn-toolbar" role="toolbar" ng-show="isUserInRole('SHGA_ADMIN')">
			<div class="btn-group push-right">
				<button type="button" class="btn btn-primary">Create Event</button>
				<button type="button" class="btn btn-primary">Delete Event</button>
				<button type="button" class="btn btn-primary">Update Event</button>
			</div>
			<div class="btn-group push-right">
				<button type="button" class="btn btn-primary">Add Golfer</button>
				<button type="button" class="btn btn-primary">Remove Golfer</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<ul>
					<li ng-repeat="shgaEvent in shgaEvents | currentEvents">{{shgaEvent.day}}, {{shgaEvent.month}}, {{shgaEvent.date}} {{shgaEvent.year}}
						<ul>
							<li ng-repeat="pairing in shgaEvent.pairings">Tee Time ({{pairing.time}})</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-xs-4">
				<ul>
					<li ng-repeat="shgaEvent in shgaEvents | currentEvents">{{shgaEvent.day}}, {{shgaEvent.month}}, {{shgaEvent.date}} {{shgaEvent.year}}
						<ul>
							<li ng-repeat="golfer in shgaEvent.golfers">{{golfer}}</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-xs-4">
				<ul>
					<li ng-repeat="shgaEvent in shgaEvents">{{shgaEvent.day}}, {{shgaEvent.month}}, {{shgaEvent.date}} {{shgaEvent.year}}
						<ul>
							<li ng-repeat="pairing in shgaEvent.pairings">Tee Time ({{pairing.time}})
								<ul>
									<li ng-repeat="team in pairing.teams">{{team}}</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>