<!doctype html>
<html ng-app="shgaApp">
<head>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<style type="text/css">
body {
    padding: 5px 20px;
}

.hb-control-label {
    white-space: nowrap;
    padding-right: 7px;
}
</style>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
<script type='text/javascript' src="https://cdn.firebase.com/js/client/1.1.1/firebase.js"></script>
<script type='text/javascript' src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
<script type='text/javascript' src="vendor/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script type='text/javascript' src="vendor/momentjs/moment.js"></script>
<script type='text/javascript' src="js/shga.js"></script>
</head>
<body>
    <div ng-controller="EventController">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hb-shga-header-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SHGA</a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="hb-shga-header-collapse">
                <form ng-show="!isAuth" class="navbar-form navbar-right" role="form" name="loginForm" ng-submit="login(loginForm.$valid)" novalidate action="">
                    <!-- EMAIL -->
                    <div class="form-group">
                        <input placeholder="username" type="email" name="email" class="form-control" ng-model="sec.email" required>
                    </div>
                    <!-- PASSWORD -->
                    <div class="form-group">
                        <input placeholder="password" type="password" name="password" class="form-control" ng-model="sec.password" ng-minlength="3" ng-maxlength="8" required>
                    </div>
                    <!-- SUBMIT BUTTON -->
                    <button type="submit" class="btn btn-primary">Log In</button>
                    <button type="button" class="btn btn-link" ng-click="register()">Register</button>
                </form>
                <form ng-show="isAuth" class="navbar-form navbar-right" role="form" name="logoutForm" ng-submit="logout()" novalidate action="">
                    <!-- EMAIL -->
                    <div class="form-group">Logged in as {{user.firstName}} {{user.lastName}}</div>
                    <!-- SUBMIT BUTTON -->
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </div>
        </nav>
        <div class="btn-toolbar" role="toolbar" ng-show="isUserInRole('SHGA_ADMIN')">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" ng-click="createEvent()">Create Event</button>
                <button type="button" class="btn btn-primary">Delete Event</button>
                <button type="button" class="btn btn-primary">Update Event</button>
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary">Add Golfer</button>
                <button type="button" class="btn btn-primary">Remove Golfer</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
            
                        <div class="btn-group" dropdown style="margin: 4px 2px 2px 2px;" ng-repeat="shgaEvent in shgaEvents | currentEvents">
                          <button type="button" class="btn dropdown-toggle" ng-class="{'btn-success' : shgaEvent.group == 'Sunday Group', 'btn-primary' : shgaEvent.group == 'Saturday Group'}" style="width:350px;">
                            {{shgaEvent.group}} - {{formatDate(shgaEvent.timestamp)}}<span class="caret pull-right" style="margin-top:-15px;"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" style="width:350px;">
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="#">Drop Out</a></li>
                            <li ng-show="isUserInRole('SHGA_ADMIN')"><a href="#" ng-click="deleteEvent(shgaEvent)">Delete Event</a></li>
                          </ul>
                        </div>
        
            </div>
        </div>
    </div>
</body>
</html>