<div class="scrollable">
	<h1 class="scrollable-header app-name">
		SHGA <small>1.0</small>
	</h1>
	<div class="scrollable-content">
		<div class="list-group" ui-turn-off='sidebarLeft'>
			<a class="list-group-item" href="#/">
				Home <i class="fa fa-chevron-right pull-right"></i></a> 
			<a ng-show="!isAuth" class="list-group-item" href="#/pwreset">
				Reset Password <i class="fa fa-chevron-right pull-right"></i></a> 
			<a ng-show="isAuth" class="list-group-item" href="#/pwchange/{{user.uid}}">
				Change Password <i class="fa fa-chevron-right pull-right"></i></a> 
			<a ng-show="isAuth" class="list-group-item" href="#/profile/{{user.uid}}">
				Profile <i class="fa fa-chevron-right pull-right"></i></a> 
			<a ng-show="isAuth && isUserInRole('SHGA_ADMIN')" class="list-group-item" href="#/event">
				Create Event <i class="fa fa-chevron-right pull-right"></i></a>
			<a href="http://www.ghin.com/scoreposting.aspx" target="_blank" class="list-group-item">
				Post Scores</a> 
			<a href="http://www.ghin.com/lookup.aspx" target="_blank" class="list-group-item">
				HCP Lookup</a>
		</div>
	</div>
</div>