<div content-for="title">
	<span>Event</span>
</div>
<div class="scrollable adjust" ng-controller="ManageEventController">
	<div class="scrollable-content">
		<div style="margin:0px 20px;">
			<form>
				<div class="form-group">
					<label for="inputGroup1" class="control-label hb-control-label">Group</label>
					<div>
						<select id="inputGroup1" ng-model="shgaEvent.group" ng-options="golfGroup.name for golfGroup in golfGroups"></select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEventDate1" class="control-label hb-control-label">Event Date</label>
					<div>
						<p class="input-group">
							<input id="inputEventDate1" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="shgaEvent.dt" is-open="opened" min-date="minDate" ng-required="true" close-text="Close" show-weeks="false" starting-day="7" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p>
					</div>
				</div>
				<div class="form-group">
					<label for="inputCourseName1" class="control-label hb-control-label">Course</label>
					<div>
						<select id="inputGroup1" ng-model="shgaEvent.course" ng-options="course.name for course in courses"></select>
					</div>
				</div>
				<div class="form-group">
					<div><label for="teetime" class="control-label hb-control-label">Tee Time</label></div>
					<div>
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td><timepicker ng-model="teeTime" hour-step="hstep" minute-step="mstep"></timepicker></td>
								<td style="padding-left:6px;"><button type="button" class="btn btn-success btn-sm" ng-click="addTeeTime()" style="margin-top: 0.10em;">Add</button></td>
							</tr>
						</table>
					</div>
				</div>
			</form>
			<form>		
				<div class="form-group">
					<label class="control-label hb-control-label">Available Tee Times</label>
					<div>{{formatTeeTimes()}}</div>
				</div>
			</form>
		</div>
	</div>
	<div class="scrollable-footer" style="background-color: #fff;padding: 10px 20px 5px 20px;border-top: 1px solid #cccccc;">
		<table style="width: 100%;">
			<colgroup>
				<col width="100%" />
			</colgroup>
			<tr>
				<td style="text-align:center;">
					<a type="button" class="btn btn-xs btn-default" href="#home">Cancel</a>
					<button type="button" class="btn btn-xs btn-primary" ng-click="save()">Save</button>
				</td>
			</tr>
		</table>
	</div>
</div>
