<div content-for="title">
	<span>Manage Golfers</span>
</div>
<div class="scrollable adjust" ng-controller="ManageEventGolfersController">
	<div class="scrollable-content">
		<div class="list-group hb-list-group">
			<div ng-show="!isloaded" class="list-group-item list-group-item-home media">
				<div>Loading...</div>
			</div>
			<div ng-show="isloaded" style="margin:0px 20px;">
				<form class="form" role="form" name="addGolfersForm">
					<div class="form-group">
						<label for="groupName">Event<br /><span style="font-weight: normal;">{{shgaEvent.group.name}}</span></label>
					</div>
					<div class="form-group">
						<label for="eventDate">Date<br /><span style="font-weight: normal;">{{formatDate(shgaEvent.timestamp)}}</span></label>
					</div>
					<div class="form-group">
						<label for="course">Course<br /><span style="font-weight: normal;">{{shgaEvent.course.name}}</span></label>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-5"><select ng-model="availableGolfersSelected" id="selectGroup1" multiple size="10" style="width: 100%; height: 10em" ng-options="availableGolfer as availableGolfer.firstName + ' ' + availableGolfer.lastName  for availableGolfer in availableGolfers | orderBy:['lastName','firstName']"></select></div>
						<div class="col-xs-12 col-sm-2">
							<div class="row">
								<div class="col-xs-2 col-sm-12"></div>
								<div class="col-xs-2 col-sm-12">
									<button type="button" class="btn btn-primary btn-xs hb-multiselect-button" ng-click="addGolfer(true)">
										<span class="fa fa-chevron-right"></span><span class="fa fa-chevron-right"></span>
									</button>
								</div>
								<div class="col-xs-2 col-sm-12">
									<button type="button" class="btn btn-primary btn-xs hb-multiselect-button" ng-click="addGolfer(false)">
										<span class="fa fa-chevron-right"></span>
									</button>
								</div>
								<div class="col-xs-2 col-sm-12">
									<button type="button" class="btn btn-primary btn-xs hb-multiselect-button" ng-click="removeGolfer(false)">
										<span class="fa fa-chevron-left"></span>
									</button>
								</div>
								<div class="col-xs-2 col-sm-12">
									<button type="button" class="btn btn-primary btn-xs hb-multiselect-button" ng-click="removeGolfer(true)">
										<span class="fa fa-chevron-left"></span><span class="fa fa-chevron-left"></span>
									</button>
								</div>
								<div class="col-xs-2 col-sm-12"></div>
							</div>						
						</div>
						<div class="col-xs-12 col-sm-5"><select ng-model="scheduledGolfersSelected" id="selectGroup2" multiple size="10" style="width: 100%; height: 10em" ng-options="scheduledGolfer as scheduledGolfer.firstName + ' ' + scheduledGolfer.lastName  for scheduledGolfer in scheduledGolfers | orderBy:['lastName','firstName']"></select></div>
					</div>
				</form>
			</div>
		</div>
		<div class="scrollable-footer" style="background-color: #fff;padding: 10px 20px 5px 20px;border-top: 1px solid #cccccc;" ng-show="isloaded">
			<table style="width: 100%;">
				<colgroup>
					<col width="100%" />
				</colgroup>
				<tr>
					<td style="text-align:center;">
						<button type="submit" class="btn btn-xs btn-default" style="margin:0px 2px;" ng-click="cancel()">Cancel</button>
						<button type="submit" class="btn btn-xs btn-primary" style="margin:0px 2px;" ng-click="save()">Save</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>