<div content-for="title">
	<span>Manage Golfers</span>
</div>
<div class="scrollable adjust" ng-controller="ManageEventGolfersController">
	<div class="scrollable-content">
		<div class="list-group hb-list-group">
			<div ng-show="!isloaded" class="list-group-item list-group-item-home media">
				<div>Loading...</div>
			</div>
			<div ng-show="isloaded" style="margin:0px 20px;">
				<form class="form" role="form" name="addGolfersForm">
					<div class="form-group">
						<label for="groupName">Event<br /><span style="font-weight: normal;">{{shgaEvent.group.name}}</span></label>
					</div>
					<div class="form-group">
						<label for="eventDate">Date<br /><span style="font-weight: normal;">{{formatDate(shgaEvent.timestamp)}}</span></label>
					</div>
					<div class="form-group">
						<label for="course">Course<br /><span style="font-weight: normal;">{{shgaEvent.course.name}}</span></label>
					</div>
					<div class="form-group">
						<label for="course">Golfers<br /></label>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-5">
<!-- 							<select ng-model="availableGolfersSelected" id="selectGroup1" multiple size="10" style="width: 100%; height: 10em" ng-options="availableGolfer as availableGolfer.firstName + ' ' + availableGolfer.lastName  for availableGolfer in availableGolfers | orderBy:['lastName','firstName']"></select> -->
							<div style="overflow: scroll;width: 100%;height:10em;border:1px solid #333333;">
							<table style="width: 100%;">
								<colgroup>
									<col width="30" />
									<col />
								</colgroup>
								<thead style="border-bottom:1px solid #333333;background-color:#eeeeee;">
									<tr>
										<td align="center">&nbsp;</td>
										<td>Available Golfers</td>
									</tr>
								</thead>
								<tbody ng-repeat="availableGolfer in availableGolfers | orderBy:['lastName','firstName']">
								<tr>
									<td align="center"><input type="checkbox" value="{{availableGolfer.id}}"></td>
									<td>{{availableGolfer.firstName}} {{availableGolfer.lastName}}</td>
								</tr>
								</tbody>
							</table>
							</div>
						</div>
						<div class="col-xs-12 col-sm-2">
							<div class="row">
								<div class="col-xs-2 col-sm-12"></div>
								<div class="col-xs-2 col-sm-12">
									<button type="button" class="btn btn-primary btn-xs" ng-click="addGolfer(true)">
										Add All
									</button>
								</div>
								<div class="col-xs-2 col-sm-12">
									<button type="button" class="btn btn-primary btn-xs" ng-click="addGolfer(false)">
										Add Selected
									</button>
								</div>
								<div class="col-xs-2 col-sm-12">
									<button type="button" class="btn btn-primary btn-xs" ng-click="removeGolfer(false)">
										Remove Selected
									</button>
								</div>
								<div class="col-xs-2 col-sm-12">
									<button type="button" class="btn btn-primary btn-xs" ng-click="removeGolfer(true)">
										Remove All
									</button>
								</div>
								<div class="col-xs-2 col-sm-12"></div>
							</div>						
						</div>
						<div class="col-xs-12 col-sm-5">
<!-- 						<select ng-model="scheduledGolfersSelected" id="selectGroup2" multiple size="10" style="width: 100%; height: 10em" ng-options="scheduledGolfer as scheduledGolfer.firstName + ' ' + scheduledGolfer.lastName  for scheduledGolfer in scheduledGolfers | orderBy:['lastName','firstName']"></select> -->
							<div style="overflow: scroll;width: 100%;height:10em;border:1px solid #333333;">
							<table style="width: 100%;">
								<colgroup>
									<col width="30" />
									<col />
								</colgroup>
								<thead style="border-bottom:1px solid #333333;background-color:#eeeeee;">
									<tr>
										<td align="center">&nbsp;</td>
										<td>Scheduled Golfers</td>
									</tr>
								</thead>
								<tbody ng-repeat="scheduledGolfer in scheduledGolfers | orderBy:['lastName','firstName']">
								<tr>
									<td align="center"><input type="checkbox" value="{{scheduledGolfer.id}}"></td>
									<td>{{scheduledGolfer.firstName}} {{scheduledGolfer.lastName}}</td>
								</tr>
								</tbody>
							</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="scrollable-footer scrollable-footer-adjust" ng-show="isloaded">
			<table style="width: 100%;">
				<colgroup>
					<col width="100%" />
				</colgroup>
				<tr>
					<td style="text-align:center;">
						<button type="submit" class="btn btn-sm btn-default" style="margin:0px 2px;" ng-click="cancel()">Cancel</button>
						<button type="submit" class="btn btn-sm btn-primary" style="margin:0px 2px;" ng-click="save()">Save</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>