<div content-for="title">
	<span>Sign In</span>
</div>
<div class="scrollable" style="background-color: #fff;padding: 5px;">
	<div class="scrollable-content">
		<div ng-show="isAuth" style="margin:0px 20px;">
			You are logged in!
		</div>
		<div ng-show="!isAuth" style="margin:0px 20px;">
			<form class="form" ng-show="!isAuth" role="register" name="loginForm" novalidate>
				<div class="form-group">
					<label for="email">Email</label>
					<div>
						<input placeholder="username" type="email" name="email" class="form-control" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty}" ng-model="sec.email" ng-model-options="{ debounce : { 'default' : 1000 } }" required email-format />
						<div ng-if="loginForm.email.$touched || loginForm.$submitted" ng-messages="loginForm.email.$error" class='validation-error-messages' ng-messages-include="messages/validation-errors.html"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<div>
						<input placeholder="password" type="password" name="password" class="form-control" ng-model="sec.password" required>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="scrollable-footer" style="background-color: #fff;padding: 10px 20px 5px 20px;border-top: 1px solid #cccccc;">
		<table style="width: 100%;">
			<colgroup>
				<col width="100%" />
			</colgroup>
			<tr>
				<td style="text-align:center;">
					<a type="button" class="btn btn-xs btn-default" style="margin:0px 2px;" href="#/register">Register</a>
					<a type="button" class="btn btn-xs btn-default" style="margin:0px 2px;" href="#/">Cancel</a>
					<button type="button" class="btn btn-xs btn-primary" style="margin:0px 2px;"  ng-disabled="!loginForm.$valid" ng-click="login()">Log In</button>
				</td>
			</tr>
		</table>
	</div>
</div>
