<div content-for="title">
	<span>Profile</span>
</div>
<div class="scrollable adjust" ng-controller="ProfileController">
	<div class="scrollable-content">
		<div ng-show="!isloaded">
			<div>Loading...</div>
		</div>
		<div ng-show="isloaded" style="margin:0px 20px;">
			<form class="form" role="form" name="profileForm">
				<div class="form-group">
					<label for="firstName">First Name</label>
					<div>
						<input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="profile.firstName" required>
						<div ng-if="profileForm.firstName.$touched || profileForm.$submitted" ng-messages="profileForm.firstName.$error" class='validation-error-messages' ng-messages-include="messages/validation-errors.html"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<div>
						<input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="profile.lastName" required>
						<div ng-if="profileForm.lastName.$touched || profileForm.$submitted" ng-messages="profileForm.lastName.$error" class='validation-error-messages' ng-messages-include="messages/validation-errors.html"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="username">Email</label>
					<div>
						<input type="email" class="form-control" id="username" placeholder="Email" ng-class="{'has-error': profileForm.email.$invalid && profileForm.email.$dirty}" ng-model="profile.email" required email-format>
						<div ng-if="profileForm.username.$touched || profileForm.$submitted" ng-messages="profileForm.username.$error" class='validation-error-messages' ng-messages-include="messages/validation-errors.html"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="hcp">HCP</label>
					<div>
						<input bs-form-control type="number" id="hcp" only-digits min-num="0" max-num="18" ng-model="profile.hcp" label="HCP" />
					</div>
				</div>
				<div class="form-group">
					<label for="teebox">Tee Box</label>
					<div>
						<select id="teebox" ng-model="profile.teebox" ng-options="teebox.color for teebox in teeboxes"></select>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="scrollable-footer scrollable-footer-adjust" ng-show="isloaded">
		<table style="width: 100%;">
			<colgroup>
				<col width="100%" />
			</colgroup>
			<tr>
				<td style="text-align:center;">
					<button type="submit" class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
					<button type="submit" class="btn btn-sm btn-primary" ng-click="save()">Save</button>
				</td>
			</tr>
		</table>
	</div>
</div>