<div content-for="title">
	<span>Password Reset</span>
</div>
<div class="scrollable adjust" ng-controller="CredentialsController">
	<div class="scrollable-content">
		<div ng-show="!isAuth" style="margin:0px 20px;">
			<form class="form" role="form" name="pwform">
				<div class="form-group">
					<label for="email" class="control-label hb-control-label">SHGA Email</label>
					<div>
						<input type="text" class="form-control" id="email" placeholder="Email" ng-model="email" required>
					</div>
				</div>
			</form>
			<table style="width: 100%;">
				<colgroup>
					<col width="100%" />
				</colgroup>
				<tr>
					<td style="text-align:center;">
						<h4 ng-show="showMessage">{{message}}</h4>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="scrollable-footer scrollable-footer-adjust">
		<table style="width: 100%;">
			<colgroup>
				<col width="100%" />
			</colgroup>
			<tr>
				<td style="text-align:center;">
					<a type="button" class="btn btn-sm btn-default" href="#home">Cancel</a>
					<button type="submit" class="btn btn-sm btn-primary" ng-click="reset()">Reset Password</button>
				</td>
			</tr>
		</table>
	</div>
</div>